@charset "UTF-8";
body {
  overflow-y: scroll;
  width: 800px;
  margin: 8px auto;
  padding-left: 1em;
  border-left: 1px solid #ccc;
}

main {
  min-height: 20em;
}

footer {
  border-top: 1px solid #ccc;
  min-height: 4em;
  text-align: center;
}

i {
  font-style: normal;
}

/**
 * Style a dice using UTF-8 characters.
 */
.dice-utf8 .dice-1::after {
  content: "⚀";
}

.dice-utf8 .dice-2::after {
  content: "⚁";
}

.dice-utf8 .dice-3::after {
  content: "⚂";
}

.dice-utf8 .dice-4::after {
  content: "⚃";
}

.dice-utf8 .dice-5::after {
  content: "⚄";
}

.dice-utf8 .dice-6::after {
  content: "⚅";
}

.dice-utf8 {
  font-size: 32px;
}

.flex {
  display: flex;
  justify-content: center;
}
.flex div {
  padding: 0 0.25em;
  margin: 0 0.25em;
  text-align: center;
}

.center {
  text-align: center;
}
